
@{
    ViewData["Title"] = "View";
}


<div id="client-app">Loading...</div>
@Html.AntiForgeryToken()

@section scripts {
    <script type="text/javascript" src="~/dist/bundle.js" asp-append-version="true"></script>
}
